header {
	display:grid;
	background-color: green;
	text-align: center;
	padding: 10px;
	color: white;
	grid-column: span 2;
}

.app-container {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px;
padding: 20px;
}

.student-list {
grid-column: 2;
grid-row: 2;
text-align: right;
}

.student {
	display: flex;
	border: 2px solid green;
	padding: 10px;
margin-bottom: 10px;
	}
.student-image {
	width: 100px;
	height: auto;
}

.clickable {
	cursor: pointer;
	color: black;
	font-size: large;
	padding: 20px;
  }

  ul {
	list-style: none;
	justify-content: space-between;
	padding: 0;
  }

   ul li {
	list-style: none;
	border-bottom: 1px solid green;
	font-weight: bold;
  }